# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml
.idea/
cmd/xenvman
repos/
etc/xenvman.my.toml
xenvman

tmp/
CALL.json
EXAMPLE.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

