[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
	ignore = dirty
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/github.com/docker/go-units"]
	path = vendor/github.com/docker/go-units
	url = https://github.com/docker/go-units
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "vendor/github.com/juju/ansiterm"]
	path = vendor/github.com/juju/ansiterm
	url = https://github.com/juju/ansiterm
[submodule "vendor/github.com/juju/loggo"]
	path = vendor/github.com/juju/loggo
	url = https://github.com/juju/loggo
[submodule "vendor/github.com/kr/fs"]
	path = vendor/github.com/kr/fs
	url = https://github.com/kr/fs
[submodule "vendor/github.com/lunixbochs/vtclean"]
	path = vendor/github.com/lunixbochs/vtclean
	url = https://github.com/lunixbochs/vtclean
[submodule "vendor/github.com/magiconair/properties"]
	path = vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "vendor/github.com/opencontainers/go-digest"]
	path = vendor/github.com/opencontainers/go-digest
	url = https://github.com/opencontainers/go-digest
[submodule "vendor/github.com/opencontainers/image-spec"]
	path = vendor/github.com/opencontainers/image-spec
	url = https://github.com/opencontainers/image-spec
[submodule "vendor/github.com/pelletier/go-buffruneio"]
	path = vendor/github.com/pelletier/go-buffruneio
	url = https://github.com/pelletier/go-buffruneio
[submodule "vendor/github.com/pelletier/go-toml"]
	path = vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/pkg/sftp"]
	path = vendor/github.com/pkg/sftp
	url = https://github.com/pkg/sftp
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/spf13/afero"]
	path = vendor/github.com/spf13/afero
	url = https://github.com/spf13/afero
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/dsnet/compress"]
	path = vendor/github.com/dsnet/compress
	url = https://github.com/dsnet/compress
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "vendor/github.com/mholt/archiver"]
	path = vendor/github.com/mholt/archiver
	url = https://github.com/mholt/archiver
[submodule "vendor/github.com/nwaples/rardecode"]
	path = vendor/github.com/nwaples/rardecode
	url = https://github.com/nwaples/rardecode
[submodule "vendor/github.com/pierrec/lz4"]
	path = vendor/github.com/pierrec/lz4
	url = https://github.com/pierrec/lz4
[submodule "vendor/github.com/pierrec/xxHash"]
	path = vendor/github.com/pierrec/xxHash
	url = https://github.com/pierrec/xxHash
[submodule "vendor/github.com/robertkrimen/otto"]
	path = vendor/github.com/robertkrimen/otto
	url = https://github.com/robertkrimen/otto
[submodule "vendor/github.com/ulikunitz/xz"]
	path = vendor/github.com/ulikunitz/xz
	url = https://github.com/ulikunitz/xz
[submodule "vendor/gopkg.in/sourcemap.v1"]
	path = vendor/gopkg.in/sourcemap.v1
	url = https://gopkg.in/sourcemap.v1
[submodule "vendor/github.com/json-iterator/go"]
	path = vendor/github.com/json-iterator/go
	url = https://github.com/json-iterator/go
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "vendor/github.com/modern-go/concurrent"]
	path = vendor/github.com/modern-go/concurrent
	url = https://github.com/modern-go/concurrent
[submodule "vendor/github.com/modern-go/reflect2"]
	path = vendor/github.com/modern-go/reflect2
	url = https://github.com/modern-go/reflect2
[submodule "vendor/github.com/docker/distribution"]
	path = vendor/github.com/docker/distribution
	url = https://github.com/docker/distribution
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
